:root {
  --fg: black;
  --bg: white;
}

.dark:root {
  --fg: white;
  --bg: #333;
}

body {
  color: var(--fg);
  background-color: var(--bg);
  font-family: "Roboto";
}

code {
  font-family: "Cousine";
  line-height: 1.5;
}

.menu-item {
  color: cyan;
}

.menu-item-current {
  color: orange;
}
