:root {
  --fg: #000000;
  --bg: #fdfbfa;
  --main: #3fb8a4;
  --gray: #6b6b6b;
  --font-main: "Roboto";
  --font-mono: "JetBrains Mono";
  --font-title: "Ubuntu";
  --font-quote: "Lora";
}

.dark:root {
  --fg: #ffffff;
  --bg: #2a2b2d;
}

body {
  box-sizing: border-box;
  color: var(--fg);
  background-color: var(--bg);
  font-family: var(--font-main);
  line-height: 1.5;
  font-size: 16px;
}

nav li {
  list-style-type: none;
}

code {
  font-family: var(--font-mono);
  font-size: 0.9em;
}

.chroma {
  padding: 1em;
  overflow-x: auto;
}

blockquote {
  font-family: var(--font-quote);
  font-style: italic;
  color: var(--gray);
}

header {
  background-color: var(--bg);
  font-family: var(--font-title);
  font-weight: bolder;
  border-bottom: 1px solid #ddd;
  z-index: 999;
}

.sticky:root {
  scroll-padding-top: 4em;
}

.sticky:root header {
  position: sticky;
  top: 0;
}

header a, header a:visited {
  color: var(--gray);
  text-decoration: none;
}

header a:active, header a:hover {
  color: var(--main);
  text-decoration: none;
  outline: none;
}

.menu-container {
  margin: 1.2em auto 0;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home {
  font-size: 1.5em;
}

.menu-items-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.menu-item {
  display: block;
  font-weight: 400;
  padding: 1.2em 1em;
}

.menu-item.current {
  color: var(--main);
}

.menu-item::after {
  content: "/";
}

footer {
  color: var(--gray);
  font-family: var(--font-title);
  border-top: 1px solid #ddd;
  margin: auto;
  padding: 2em;
  text-align: center;
}

footer a, footer a:visited {
  color: var(--main);
  text-decoration: none;
  outline: none;
}

footer a:hover, footer a:active {
  text-decoration: underline;
  text-decoration-style: dashed;
  text-underline-offset: 0.2em;
}

#content {
  margin: 5em auto;
  width: 90%;
  max-width: 50em;
}

.article-title {
  font-weight: 500;
  font-family: var(--font-title);
  font-size: 3em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-title);
}

h1 {
  font-size: 1.8em;
  font-weight: bold;
}

h2 {
  font-size: 1.6em;
  font-weight: bold;
}

h3 {
  font-size: 1.4em;
  font-weight: bold;
}

h4 {
  font-size: 1.2em;
  font-weight: bold;
}

h5 {
  font-size: 1.2em;
  font-weight: bold;
}

h6 {
  font-size: 1em;
  font-weight: bold;
}

p {
  font-size: 1.2em;
}

a, a:hover, a:visited {
  text-decoration: none;
  color: var(--main);
}

a:hover, a:active {
  text-decoration: underline;
  text-decoration-style: dashed;
  text-underline-offset: 0.2em;
}

.article-info-container {
  font-family: var(--font-quote);
  color: var(--gray);
}

.article-info {
  font-size: 0.9em;
}

.article-tags-container {
  margin: 0.5em 0 2em;
}

a.tag {
  font-family: var(--font-title);
  font-size: 0.9em;
  padding: 0.2em 0.5em;
  margin: 0.2em 0.2em 0.5em 0;
  background-color: #f5f5f5;
  border-radius: 1em;
  color: var(--gray);
}

a.tag:hover {
  background-color: #f0f0f0;
  color: var(--main);
}

a.tag::before {
  content: "# ";
}

a.tag.article-tag {
  color: var(--main);
}

.article-footer-container {
  font-family: var(--font-title);
  font-size: 0.9em;
  color: var(--gray);
  margin: 5em 0;
  display: flex;
  justify-content: space-between;
}