{{ define "main" }}
  <h1 class="article-title">{{ .Title }}</h1>
  <div class="article-info-container">
    <span class="article-info">{{ .FuzzyWordCount }} words</span>
    <span class="article-info">{{ .ReadingTime }} min reading</span>
    <span class="article-info">Published: {{ partial "date.html" .PublishDate }}</span>
    <span class="article-info">Last modified: {{ partial "date.html" .Lastmod }}</span>
    <div class="article-tags-container">
      {{ range .Params.tags }}
        <span class="article-tag">{{ . }}</span>
      {{ end }}
    </div>
  </div>
  <div class="article-content-container">
  {{ .Content }}
  </div>
  <div class="article-footer-container">
    {{ if .PrevInSection }}
      <a href="{{ .PrevInSection.Permalink }}">{{ .PrevInSection.Title }}</a> 
    {{ end }}
    {{ if .NextInSection }}
      <a href="{{ .NextInSection.Permalink }}">{{ .NextInSection.Title }}</a> 
    {{ end }}
  </div>
{{ end }}